.formClass {
  margin-top: 40vh;
}

#email {
  /* display: block; */
  width: 250px;
  border-radius: 25px;
  height: 35px;
  text-align: center;
  /* border: none; */
  outline: none;
  /* border-color: aqua; */
}

.arrow {
  line-height: 24px !important;
  outline: 0;
  color: #f2463a;
  width: 152px !important;
  height: 40px !important;
  padding: 8px 12px !important;
  background-color: transparent !important;
  border-color: transparent !important;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: normal !important;
  display: block;
  margin: 16px auto 0;
  cursor: pointer;
}
